
* { box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body { 
  /* tutaj powinno sie dawac czcionke */
  margin: 0;
  font-family: Roboto;
  background-color: E5E5E5;
}

.nav{
height: 70px;
width: 960px;
margin: 0 auto;
background-color: #4E4E4E;
}

.Container{
  
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  color: white;
  height: 100vh;
}
.Header{
  background-image: url("backgroundmain.jpg");
  background-repeat: no-repeat;
  max-height: 574px;
}
.HasloReklamowe1{
  padding-top: 178px;
  padding-left: 94px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
}
.HasloReklamowe2{
 padding-top: 62px;
 padding-left: 94px;
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 21px;
 display: flex;
 align-items: center;
}
.button{
  background-color: none;
  margin:94px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 58px;
  padding-right: 58px;
  background: none;
  border:3px solid white;
  display:flex;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
    background-color: white;
    margin:94px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 58px;
    padding-right: 58px;
    background: white;
    border:3px solid white;
    display:flex;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.MenuRight {
  float: right;
  display:flex;
  color: white;
  justify-content: space-between;
  padding: 12px;
}
.MenuLeft {
  float: Left;
  display:flex;
  color: white;
  justify-content: space-between;
  padding: 12px;
}
.NasiSpecjalisci_Section{
  margin-top: 52px;
  color:black;
  background-color: F1F1F1;
  display:flow-root;
}
.h2{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #152D41;
}
.twoColumns{
  margin-top: 70px;
  gap: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.responsive {
  max-width: 100%;
  height: auto;
}
.right {
  max-width: 100%;
  margin-left: 28px;
}
.photo{
  border-radius: 50%;

}
.text_right{
text-align: right;
font-weight: 700;
font-size: 18px;
line-height: 21px;
}
.text_left{
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

}
.offer{
  background-color: #405D78;

}
.offer_t{
  margin-left: 110px;
  padding-top: 50px;
  color:white;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}




.outer {
  display: flex;
  min-height: 100%;
  flex-direction: column; /* added */
  
}

.row {
  border: 1px solid blue;
  display: flex;
  flex: 1; /* added */
  width: 195px;
  height: 195px;
}

.item {
  background-color: orange;
  border: 1px solid red;
  flex: 1; /* added */
  width: 195px;
  height: 195px;
}



